body {
  background: #101010;
  color: #fff;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  background: #1f1f1f;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #444;
  width: 90%;
  max-width: 400px;
  text-align: center;
}
input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
}
button {
  background: #00ff99;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
a {
  color: #00ff99;
}